<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kentdzai.demochart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LineChartDemo"
            android:label="Line-Chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PieChartDemo"
            android:label="Pie-Chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarChartDemo"
            android:label="Bar-Chart"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CombinedChartDemo"
            android:label="Combined-Chart"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>